<div class="sidebar collapse d-md-block" id="sidebar">
    <div class="d-flex flex-column py-4">
        <a href="/" class="nav-link">
            <i class="fas fa-home"></i> Home
        </a>
        <a href="/profile" class="nav-link active">
            <i class="fas fa-user"></i> Profile
        </a>
        <a href="#" class="nav-link">
            <i class="fas fa-shopping-bag"></i> Orders
        </a>
        <a href="#" class="nav-link">
            <i class="fas fa-heart"></i> Wishlist
        </a>
        <a href="#" class="nav-link">
            <i class="fas fa-map-marker-alt"></i> Address
        </a>
        <a href="/logOut/<%=user.id%>" class="nav-link text-danger">
            <i class="fas fa-sign-out-alt"></i> Logout
        </a>
    </div>
</div>